@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;

        img {
            margin-bottom: 1.875rem;
        }

        h1 {
            font-family: "Dosis", sans-serif;
            font-size: 2rem;
            color: #3f3d56;

            strong {
                color: #ee24ff;
            }
        }

        p {
            font-size: 0.938rem;
            color: #828282;
            max-width: 33.75rem;
            text-align: center;

            strong {
                color: #3f3d56;
            }
        }

        p {
            margin-top: 1.875rem;
        }
    }

    footer {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        margin-top: 4rem;

        #buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row nowrap;
            width: 24.438rem;
            border-top: 1px solid #eceff2;
            padding-top: 0.938rem;
            margin-bottom: 2.625rem;

            a {
                font-size: 0.938rem;
                text-decoration: none;
                color: #3f3d56;
                font-weight: bold;
            }
            a + a {
                margin-left: 2.625rem;
            }
        }

        img {
            position: fixed;
            bottom: 0;
            min-width: 100vw;
        }
    }
}
